.container {
    display: grid;
  grid-template-columns:300px auto;
  gap: 10px;
}

.noteList{
    grid-row: 1;
    grid-column: 1;
}

.content{
    grid-row: 1;
    grid-column: 2;
    background-color: brown;
}